* {
    box-sizing: border-box;
}

:root {
    --bg-gradient-start: #70e1ff;
    --bg-gradient-end: #0051a8;
    --text-main: #1c2d42;
}

#PatientForm {
    display: flex;

    flex-direction: column;

    gap: 12px;

    max-width: 490px;

    width: 100%;
}
#Sonstiges {

    height: 120px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, var(--bg-gradient-start), var(--bg-gradient-end));
    background-attachment: fixed;
    color: var(--text-main);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}