#PatientForm {
    display: flex;

    flex-direction: column;

    gap: 12px;

    max-width: 350px;

    
}
#Sonstiges {

    height: 120px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkgrey;
    max-width: 600px;
    margin:auto
}